<div class="manage-news container">
   <div class="mn-header">
      <h1>Gerenciar Notícias</h1>

     <!--- <div class="mn-filters">
         <input
            type="text"
            class="filter-input"
            placeholder="Buscar por título..."
            [formControl]="search">

         <button class="btn-clear" (click)="clearFilters()">Limpar Filtro</button>
      </div>
   </div> -->

   @if (articles$ | async; as page) {

      @if (page === null) {
         <div class="feedback-container">
            <p>Carregando artigos...</p>
         </div>
      }

      @else if (page.content.length === 0) {
         <div class="feedback-container empty">
            Nenhum artigo encontrado para os filtros aplicados.
         </div>
      }

      @else {
         <div class="mn-table-wrap">
            <table class="mn-table">
               <thead>
               <tr>
                  <th>Imagem</th>
                  <th>Título</th>
                  <th>Subtítulo</th>
                  <th>Categoria</th>
                  <th>Autor</th>
                  <th>Tags</th>
                  <th>Ações</th>
               </tr>
               </thead>
               <tbody>
                  @for (article of page.content; track article.id) {
                     <tr>
                        <td class="col-image">
                           <img [ngSrc]="article.coverImage" [alt]="article.title" width="100" height="100" />
                        </td>
                        <td class="col-title">
                           <div class="title-text">{{ article.title }}</div>
                        </td>
                        <td class="col-desc">
                           <div class="desc-text">{{ article.subtitle }}</div>
                        </td>
                        <td class="col-category">
                           <div class="category-text">{{ article.categoryName }}</div>
                        </td>
                        <td class="col-author">
                           <div class="author-text">{{ article.authorName }}</div>
                        </td>
                        <td class="col-tags">
                           @for(tag of article.tagNames; track tag) {
                              <span class="tag">{{ tag }}</span>
                           }
                        </td>
                        <td class="col-actions">
                           <button class="btn-icon" (click)="edit(article.slug)">
                              <span class="material-icons">edit</span>
                           </button>
                           <button class="btn-icon danger" (click)="delete(article.slug)">
                              <span class="material-icons">delete</span>
                           </button>
                        </td>
                     </tr>
                  }
               </tbody>
            </table>
         </div>

         <div class="mn-footer">
            <div class="mn-pagination">
               <button
                  (click)="changePage(page.number)"
                  [disabled]="page.number === 0">
                  <span class="material-icons">arrow_back</span>
               </button>
               <span>Página {{ page.number + 1 }} de {{ page.totalPages }}</span>
               <button
                  (click)="changePage(page.number + 2)"
                  [disabled]="page.number >= page.totalPages - 1">
                  <span class="material-icons">arrow_forward</span>
               </button>
            </div>
            <div class="mn-page-size">
               Mostrar
               <select
                  (change)="onPageSizeChange($event)"
                  [value]="page.size">
                  <option [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="20">20</option>
               </select>
               por página
            </div>
         </div>
      }
   }

  <div class="modal" *ngIf="showDeleteModal">
    <div class="modal-content">
      <h3>Tem certeza que deseja deletar esta notícia?</h3>
      <div class="modal-actions">
        <button class="danger" (click)="confirmDelete()">Continuar</button>
        <button (click)="cancelDelete()">Cancelar</button>
      </div>
    </div>
  </div>
</div>