<section class="latest-news-section">
  <h2 class="section-title">Últimas Notícias</h2>
  
  <div class="featured-news">
    <div class="featured-image">
      <img ngSrc="https://placehold.co/400x250?text=Destaque"
           width="400"
           height="250"
           alt="Notícia Destaque">
    </div>
    <div class="featured-content">
      <h3>
        Ibovespa tem oscilação discreta com ação da Cosan em destaque e dados dos EUA no radar
      </h3>
      <p>
        O principal índice do mercado de ações doméstico tinha oscilações discretas nesta quinta-feira, 
        buscando se sustentar acima dos 140 mil pontos, com as ações da Cosan entre os destaques de alta 
        após o resultado do segundo trimestre, enquanto agentes financeiros também repercutiam dados do m...
      </p>
    </div>
  </div>

  
</section>
