
.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-secondary-color);
  border-bottom: 1px solid var(--border-color);

  margin: 0 auto;
}

.logo img {
  height: 25px;
}

.login-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  color: white;;

  &:hover {
    background-color: #090963;
    color: white;
  }
}

.arrow-icon {
  font-size: 1.2rem;
  line-height: 1;
}