@use 'mixins';

.latest-news-section {
   .featured-news {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .featured-image {
         img {
            width: 100%;
            height: 16rem;
            object-fit: cover;
            border-radius: 0.5rem;
         }
      }

      .featured-content {
         h3 {
            font-size: 1.75rem;
            font-weight: 700;
            color: var(--text-color);
            margin-bottom: 1rem;
            line-height: 1.3;
         }

         p {
            @include mixins.line-clamp(6);
            color: var(--text-light-gray);
            line-height: 1.6;
         }
      }

      @media (min-width: 768px) {
         flex-direction: row;
         align-items: center;
         .featured-image,
         .featured-content {
            flex: 1;
         }

         .featured-content {
            h3 {
               font-size: 2rem;
            }
         }
      }
   }
}
