<aside class="sidebar">
   @if (featuredStocksState$ | async; as state) {
      <app-stock-widget
         title="Ações em destaque"
         [stocks]="state.stocks"
         [isLoading]="state.loading"
         [error]="state.error">
      </app-stock-widget>
   }

   @if (expensiveStocksState$ | async; as state) {
      <app-stock-widget
         title="Ações mais caras"
         [stocks]="state.stocks"
         [isLoading]="state.loading"
         [error]="state.error">
      </app-stock-widget>
   }

   @if (cheapStocksState$ | async; as state) {
      <app-stock-widget
         title="Ações mais baratas"
         [stocks]="state.stocks"
         [isLoading]="state.loading"
         [error]="state.error">
      </app-stock-widget>
   }
</aside>
