<footer class="footer">
  <div class="footer__grid">
    <div class="footer__grid__row">
      <div class="footer__col footer__grid__col--logo">
        <img ngSrc="assets/logos/logo.svg" alt="Logo" width="120" height="40" />
      </div>

      <div class="footer__col footer__grid__col--links">
        <h3 class="footer__grid__title">Saiba mais</h3>
        <ul class="footer__grid__list">
          <li><a href="#">Ajuda e suporte</a></li>
          <li><a href="#">Sobre nós</a></li>
        </ul>
      </div>

      <div class="footer__col footer__grid__col--links">
        <h3 class="footer__grid__title">Contato</h3>
        <ul class="footer__grid__list">
          <li><a href="#">3227-1845</a></li>
          <li><a href="#">geldfokus@gmail.com</a></li>
        </ul>
      </div>

      <div class="footer__col footer__grid__col--social">
        <h3 class="footer__grid__title">Redes sociais</h3>
        <div class="footer__grid__icons">
          <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faGoogle"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faWhatsapp"></fa-icon></a>
          <a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>

  <hr class="footer__grid__line">

  <div class="footer__grid__system">
    <p>© 2025 Geld Fokus. Todos os direitos reservados.</p>  </div>
</footer>
