<!--<div class="user-menu">
    <a
      class="user-menu__item"
      (click)="goToProfile()"
      (keydown.enter)="goToProfile()"
      tabindex="0"
      role="button"
    >
      Perfil
    </a>
    @if (hasAuthority('JORNALISTA') || hasAuthority('EDITOR')) {
      <a
        class="user-menu__item"
        (click)="goToCreateArticle()"
        (keydown.enter)="goToCreateArticle()"
        tabindex="0"
        role="button"
      >
        Publicar Notícia
      </a>
      <a
        class="user-menu__item"
        (click)="goToManageArticles()"
        (keydown.enter)="goToManageArticles()"
        tabindex="0"
        role="button"
      >
        Gerenciar Notícias
      </a>
    }
    <a
      class="user-menu__item"
      (click)="logout()"
      (keydown.enter)="logout()"
      tabindex="0"
      role="button"
    >
      Sair
    </a>
  </div> -->